body {
    background-color: lightgray;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
}

.boxes {
    display: block;
    margin: 1rem;
    padding: 1rem;
    border: solid 1rem;
    border-radius: 1rem;
    width: 20%;
}

#box1 {
    background-color: crimson;
}

#box2 {
    background-color: orangered;
    /*
    Step 15 and 16
    position: relative;
    bottom: 24em;
    left: 15em; */

    /*
    Step 17 and 18
    position: absolute;
    top: 0;
    right: 0; */
}

#box3 {
    background-color: rebeccapurple;
}

#box4 {
    background-color: goldenrod;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    color: #22aa44;
}

.im-different {
    color: #f17bd8;
    font-weight: bold;
}

.image {
    height: 10px;
    width: 10px;
    background-color: ivory;
    display: inline-block;
    margin: 5px;
}

h2 {
    display: inline;
}

h1 {
    color: #81ef85;
    /* the new h1s take the same color as the others as there is nothing distiguishing them from the origional 3 */
}
.first {
    color: blue
    /* the first 3 h1s take on the new color, overwriting the above style */
}
.second {
    color: blueviolet
    /* it appears styling applied to a class overrites the styling applied to a general element */
}

#place1 {
    color: gold
}
#place2 {
    color: silver
}
#place3 {
    color: #cd7f32
}
#place4 {
    color: #11A477
}
#place5 {
    color: #343637
}
/* stylings based on id values superceed those based on class */

.list-border {
    border: 2px solid black;
    background-color: aqua
}